<h1>Edit post</h1>

<%= form_for(@post, :url => { :action => "update" }, :html => { :method => "put" }) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>